/** TorchUI Base CSS
 *
 *  Puts the global CSS into place for the rest of the framework to rely on.
 *  @author Drew Wilson
 *  @email drew@geedew.com
 *  @updated 06-11-2010
 *  @version 1.0
 *
 **/

/* RESET CSS - http://meyerweb.com/eric/tools/css/reset/   v1.0 | 20080212  */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}/* remember to define focus styles!  */:focus{outline:0}/* remember to highlight inserts somehow!  */ins{text-decoration:none}del{text-decoration:line-through}/* tables still need 'cellspacing="0"' in the markup  */table{border-collapse:collapse;border-spacing:0}

/*! HTML 5 Reset and Base Styling !*/

header, section, aside, nav, article, figure, footer {
	display:block;margin:0;padding:0;border:0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent; }

header {
	vertical-align:top;}
footer {
	vertical-align:bottom;
	text-align: right;}
nav {
	float:left;
	padding:1em;
	clear:both;
	width:100%; }
article {
	float:left;
	margin-left:1em;
	padding:0 0.5em; }
	article:after, section:after { 
		clear: both;}
section {
	padding-top: 15px;}
aside {
	float:left;
	margin-left:1em;
	padding-left:0.9em;}
	
/* BUILD CSS - Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0 */
abbr,acronym{border-bottom:1px dotted #000;cursor:help}em{font-style:italic}del{text-decoration:line-through}blockquote,ul,ol,dl{margin:1em}ol,ul,dl{margin-left:2em}ol li{list-style:decimal outside}ul li{list-style:disc outside}dl dd{margin-left:1em}th,td{border:1px solid #000;padding:.8em}th{font-weight:700;text-align:center}caption{margin-bottom:.5em;text-align:center}p,fieldset,table,pre{margin-bottom:1em}input[type=text],input[type=password],textarea{width:11.9em}hr{height:1px;width:100%;color:#DFDDD3;border:none;border-top:solid #333 1px;margin-bottom:16px;border-bottom:solid #eee 1px;}
/* FONTS CSS - Copyright (c) 2008, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.6.0 
	Edited for TorchUI by Andrew Wilson 
	Colors are setup slightly different */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;font-size:13px;color: #666}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif}table{font-size:inherit;font:100%}pre,code,kbd,samp,tt{font-family:monospace;font-size:108%;line-height:100%}h1{font-size:182%}h2{font-size:138.5%}h3{font-size:123.1%}h4{font-size:108%}h5{font-size:93%}h1,h2,h3{letter-spacing:0;color:#C1C2B4;margin:.3em 0}h1,h2,h3,h4,h5,h6 strong{font-weight:700;font-family:georgia,garamond, times, clean, sans-serif}h4,h5,h6 strong{font-family:arial, georgia,garamond, times, clean, sans-serif}ol{list-style:decimal}ul{list-style:square}li{margin-left:30px}p,pre{color:#333030}p,dl,hr,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:10px}h2,h3,h4,h5,h6{color:#D0A700}
/* 960 Grid System ~ Core CSS.
    Learn more ~ http://960.gs/
    Licensed under GPL and MIT. */
    /* Edited for TorchUI by Andrew Wilson */
    /* Only Grid 12 is used */
.container {margin-left:auto;margin-right:auto;width:960px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}.container .grid_3{width:220px}.container .grid_6{width:460px}.container .grid_9{width:700px}.container .grid_12{width:940px}.alpha{margin-left:0}.omega{margin-right:0}.container .grid_1{width:60px}.container .grid_2{width:140px}.container .grid_4{width:300px}.container .grid_5{width:380px}.container .grid_7{width:540px}.container .grid_8{width:620px}.container .grid_10{width:780px}.container .grid_11{width:860px}.container .prefix_3{padding-left:240px}.container .prefix_6{padding-left:480px}.container .prefix_9{padding-left:720px}.container .prefix_1{padding-left:80px}.container .prefix_2{padding-left:160px}.container .prefix_4{padding-left:320px}.container .prefix_5{padding-left:400px}.container .prefix_7{padding-left:560px}.container .prefix_8{padding-left:640px}.container .prefix_10{padding-left:800px}.container .prefix_11{padding-left:880px}.container .suffix_3{padding-right:240px}.container .suffix_6{padding-right:480px}.container .suffix_9{padding-right:720px}.container .suffix_1{padding-right:80px}.container .suffix_2{padding-right:160px}.container .suffix_4{padding-right:320px}.container .suffix_5{padding-right:400px}.container .suffix_7{padding-right:560px}.container .suffix_8{padding-right:640px}.container .suffix_10{padding-right:800px}.container .suffix_11{padding-right:880px}


/*!
 * GLOBAL CSS
 !*/
/* An appropriate div.clear setup */
html body div.clear:after{
	clear:both;content:'.';display:block;visibility:hidden;height:0}
html body div.clear{
	display:block}
* html body div.clear{height:1%}
/* Descriptions in the pages */
.descriptive { 
	font-size:85%;
	text-align:center;
	display:block; }
/* Hide any element that needs hidden */
.hide {
	display:none; }

	


/* Fix the HTML 5 for use with widths in the grids because the default html5 settings break the grid */
nav.grid_1, article.grid_1, section.grid_1, aside.grid_1, header.grid_1, footer.grid_1,
nav.grid_2, article.grid_2, section.grid_2, aside.grid_2, header.grid_2, footer.grid_2,
nav.grid_3, article.grid_3, section.grid_3, aside.grid_3, header.grid_3, footer.grid_3,
nav.grid_4, article.grid_4, section.grid_4, aside.grid_4, header.grid_4, footer.grid_4,
nav.grid_5, article.grid_5, section.grid_5, aside.grid_5, header.grid_5, footer.grid_5,
nav.grid_6, article.grid_6, section.grid_6, aside.grid_6, header.grid_6, footer.grid_6,
nav.grid_7, article.grid_7, section.grid_7, aside.grid_7, header.grid_7, footer.grid_7,
nav.grid_8, article.grid_8, section.grid_8, aside.grid_8, header.grid_8, footer.grid_8,
nav.grid_9, article.grid_8, section.grid_9, aside.grid_9, header.grid_9, footer.grid_9,
nav.grid_10, article.grid_10, section.grid_10, aside.grid_10, header.grid_10, footer.grid_10,
nav.grid_11, article.grid_11, section.grid_11, aside.grid_11, header.grid_11, footer.grid_11,
nav.grid_12, article.grid_12, section.grid_12, aside.grid_12, header.grid_12, footer.grid_12 {
	padding:0;
	margin:0;	}
	
	

/*!
 * FORMS CSS
 !*/

form label {
	display: inline-block;
	line-height: 1.5;
	vertical-align:top;
	margin-left:10px;
	margin-right:10px;
	width: 140px; 
	text-align:right;
	vertical-align: middle;}
form input[type="text"], form input[type="password"], form textarea, form select {
	width:190px;
	margin-left:10px;
	margin-right:10px;
	font-size:123.1%;
	line-height:1.5 !important; /* Firefox in Safari tries to overrite with !important */
	padding:0;
	vertical-align: middle;}
	form input[type="text"], form input[type="password"], form select {
		height:1.4; }
	form select {
		width:190px; }
.container form fieldset ol.grid_5 {
	margin:0;}
form fieldset li {
	list-style:none;
	padding:5px 0;
	margin:0;}
	form fieldset li a {
		display:block;
		text-align:right;
		font-size:93%; }
	form fieldset li p {
		font-weight: bold; }
	form fieldset li input[type=button], form input[type=submit], form input[type=reset] {
		width:200px;
		margin-left:13px;
		margin-right:10px;
		padding:5px;
		font-size:127%;
		line-height:1.8;
		float:right; }
	form fieldset legend {
		font-size:127%; }
	form fieldset fieldset {
		border:none;
		margin;3px 0 0; }
	form fieldset fieldset legend {
		padding: 0 0 5px;
		font-weight:normal; }
	form fieldset fieldset label {
		display:block;
		width:auto;
		margin-left:70px;  }
form em {
	font-weight:bold;
	font-style:normal;
	color: #f00; }

/*! / END FORMS !*/	

/*!
 *	BUTTONS CSS
 !*/
ul li.buttons, div.buttons{height:25px;width:100%}
ul li.buttons a, div.buttons a{background:transparent url(resources/image/buttons.background.png) no-repeat 100% 0;color:#faf7f0;display:block;float:right;height:25px;margin-left:10px;min-width:30px;padding-right:5px;text-align:center;text-decoration:none;width:auto;cursor:pointer}
ul li.buttons a span input, div.buttons a span input {background:transparent url(resources/image/blank.gif) no-repeat 0 0;border:0;color:#faf7f0;cursor:pointer;float:none;font:inherit;font-size:100%;font-weight:700;height:25px;line-height:25px !important;margin:0 !important;padding:0 !important;width:auto}
ul li.buttons a:hover, ul li.buttons a.hover, div.buttons a:hover, div.buttons a.hover{background-position:100% -25px}
ul li.buttons a span, div.buttons a span{background:transparent url(resources/image/buttons.background.png) no-repeat 0 0;color:#faf7f0;display:block;font-weight:700;line-height:25px;margin-left:-5px;padding-left:5px}
ul li.buttons a:hover span, ul li.buttons a.hover span, div.buttons a:hover span, div.buttons a.hover span{background:transparent url(resources/image/buttons.background.png) no-repeat 0 -25px;font-weight:700}
ul li.buttons a.cancel, div.buttons a.cancel{background-position:100% -50px}
ul li.buttons a.cancel:hover, ul li.buttons a.cancel.hover, div.buttons a.cancel:hover, div.buttons a.cancel.hover{background-position:100% -75px}
ul li.buttons a.cancel span, div.buttons a.cancel span{background-position:0 -50px;color:#BB6444;font-weight:200}
ul li.buttons a.cancel span input, div.buttons a.cancel span input { color:#BB6444;font-weight:200; }
ul li.buttons a.cancel:hover span, ul li.buttons a.cancel.hover span, div.buttons a.cancel:hover span, div.buttons a.cancel.hover span{background-position:0 -75px;color:#faf7f0;font-weight:200}
ul li.buttons a.cancel:hover span input, ul li.buttons a.cancel.hover span input, div.buttons a.cancel:hover span input, div.buttons a.cancel.hover span input{color:#faf7f0;font-weight:200}
ul li.buttons a.highlight, div.buttons a.highlight{background-position:100% -100px}
ul li.buttons a.highlight:hover, ul li.buttons a.highlight.hover, div.buttons a.highlight:hover, div.buttons a.highlight.hover{background-position:100% -125px}
ul li.buttons a.highlight span, div.buttons a.highlight span{background-position:0 -100px;color:#757575;font-weight:200}
ul li.buttons a.highlight:hover span, ul li.buttons a.highlight.hover span, div.buttons a.highlight:hover span, div.buttons a.highlight.hover span{background-position:0 -125px;color:#faf7f0;font-weight:200}
ul li.buttons a.highlight:hover span input, div.buttons a.highlight:hover span input{color:#faf7f0;font-weight:200}
ul li.buttons a.special, div.buttons a.special{background-position:100% -150px}
ul li.buttons a.special:hover, ul li.buttons a.special.hover, div.buttons a.special:hover, div.buttons a.special.hover{background-position:100% -175px}
ul li.buttons a.special span, div.buttons a.special span{background-position:0 -150px;color:#757575;font-weight:200}
ul li.buttons a.special:hover span, ul li.buttons a.special.hover span, div.buttons a.special:hover span, div.buttons a.special.hover span{background-position:0 -175px;color:#faf7f0;font-weight:200}
ul li.buttons a.special:hover span input, div.buttons a.special:hover span input{color:#faf7f0}
ul li.buttons a.disabled, div.buttons a.disabled{background-position:100% -200px;font-style:italic}
ul li.buttons a.disabled:hover, ul li.buttons a.disabled.hover, div.buttons a.disabled:hover, div.buttons a.disabled.hover{background-position:100% -225px}
ul li.buttons a.disabled span, div.buttons a.disabled span{background-position:0 -200px;color:#666;font-style:italic;font-weight:200}
ul li.buttons a.disabled:hover span, ul li.buttons a.disabled.hover span, div.buttons a.disabled:hover span, div.buttons a.disabled.hover span{background-position:0 -225px;font-weight:200}
ul li.buttons a.highlight span input, div.buttons a.highlight span input, ul li.buttons a.special span input, div.buttons a.special span input{color:#757575;font-weight:200}
/* Handle jQuery UI 1.8.2 dialog Buttons */
div.ui-dialog-buttonpane button.cancel { background:#faf7f0; border:1px solid #faf7f0;color:#BB6444; }
div.ui-dialog-buttonpane button.cancel.ui-state-hover { color:#cc0000; border-color:#cc0000; }
div.ui-dialog-buttonpane button.cancel.ui-state-active { color:#ffffff; border-color:#cc0000; background-color:#cc0000 }
/*! / END BUTTONS !*/

	











